@import "../../../index.scss";

.post__container{
    font-family: $ff-primary;
    position: relative;
    margin: 1.8rem; 

    .post__title{
        font-weight: 600;
        font-size: $sz-text-subtitle;
        margin-block: 2rem;
    } 
    .post__date{
        font-family: $ff-secondary;
        font-weight: 300;
        font-size: $sz-text-others;
        color: $clr-text-primary;
        text-align: left;
        margin: 0 0 0 1rem;
    }
    .post__tag__wrapper{
        display: flex;
        flex-direction: row;
        list-style: square;
        margin: 0 0.5rem 0 0.5rem;
        padding: 0;
        border-block: 1.5px black solid;
    }
    .post__tag{
        font-weight: 600;
        font-size: $sz-text-others;
        text-transform: uppercase;
        margin-left: 1rem;

    }
    .post__content{
        & :nth-child(1){
            &:first-letter{
                color: $clr-text-primary;
                font-size:3rem;
                font-weight: 500;
	            margin: 8px;
	            float:left;
                
            }
        }
        .post__paragraph{
            font-size: $sz-text-content;
            color: $clr-text-secondary;
        }
    } 

}